include nc_py_api/*
include README.md
include CHANGELOG.md
include pyproject.toml

exclude .eslintrc.js .l10nignore .nextcloudignore Makefile
exclude *.yaml *.yml *.php *.xml *.js *.json *.lock
exclude CODE_OF_CONDUCT.md
exclude SECURITY.md

recursive-exclude * *.yaml *.yml *.php *.xml *.js *.json *.lock *.png

prune .tx
prune 3rdparty
prune appinfo
prune docker
prune img
prune js
prune l10n
prune lib
prune proto
prune src
prune templates
prune tests
